@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Public+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.header {
  background-color: rgb(38, 58, 75);
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.header-brand {
  font-size: 4rem;
  color: white;
}

.header-link {
  color: white;
  font-size: 1rem;
  margin: 1rem;
}

/* CART  */

.cart-widget {
  position: relative;
  display: inline-block;
}

.cart-img {
  width: 2rem;
  height: 2rem;
  font-size: 24px;
  color: #000;
}

#notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.item-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 78px);
}


.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 1rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.item-card {
  width: 15rem;
  height: 20rem;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px rgb(179, 177, 177);
  border-radius: 10px;
  padding: 10px;
}

.item-card h4 {
  font-weight: 500;
}

.item-card img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 5px;
}

.view-more {
  border: none;
  background-color: rgb(38, 58, 75);
  color: white;
  width: 5rem;
  height: 2rem;
}

.view-more:hover {
  cursor: pointer;
}

.item-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 10rem 5rem 5rem;
  grid-template-areas: 
  'product-name image'
  'decription image'
  'none price'
  'none add-buttons';
  justify-items: center;
  align-items: center;
  margin: 2rem;
}

.item-detail img {
  grid-area: image;
  width: 25rem;
  grid-row: 1 / span 2;
  border-radius: 5px;
}

.item-detail h4 {
  grid-area: price;
}

.item-detail p {
  text-align: right;
}